* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #000;
}

header {
    background-color: #8B0000;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: left;
    font-family: roboto, sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: black;
    text-align: center;
    margin: .5rem;
}

nav {
    max-width: 700px;
    margin-left: auto;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖"; 
    color: black; 
    background-color: white; 
}

.navigation {
    font-size: 1.8rem;
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #8B0000;
    color: #fff;
    position: absolute;
    right: 0;
    top: 60px;
    width: 1000%;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;

}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}


.open {
    display: flex;
}

.active::before {
    content: "✖"; 
    color: black; 
    background-color: white; 
}

.stuff {
    margin: .5em;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

figure {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #8B0000;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
}

footer img {
    height: 15px;
    background-color: #8B0000;
}

#temple-cards-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    text-align: center;
}

.temple-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 400px; 
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.temple-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.temple-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}