body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header,
footer {
    text-align: center;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
}

input[type="submit"] {
    background-color: #00ff59;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00ff59;
}

.star-rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star-rating label {
    cursor: pointer;
    font-size: 30px;
    color: #ddd;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating input[type="radio"]:checked~span {
    color: #00ff59;
}

.star-rating label:hover~span {
    color: #00ff59;
}

.feature-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feature-option input[type="checkbox"] {
    display: none;
}

.feature-option .checkbox-square {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}


.feature-option input[type="checkbox"]:checked+.checkbox-square {
    background-color: #00ff59;
    border-color: #00ff59;
}


.feature-option input[type="checkbox"]:checked+.checkbox-square::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 8px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

@media (max-width: 600px) {
    form {
        padding: 10px;
        max-width: 100%;
    }

    input,
    select,
    textarea {
        font-size: 16px;
    }

    .star-rating label {
        font-size: 24px;
    }
}