:root {
    --primary-color: #a0571b;
    --secondary-color: #333;
    --font-family: 'Arial', sans-serif;
    --blue: #007BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--secondary-color);
}

header,
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.0rem;
}

aside {
    background-color: #353c3e;
    color: white;
    padding: .5rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
    text-align: center;
}

.card {
    background-color: white;
    border-radius: .5rem;
}

.card svg {
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    padding: 20px;
}

.label {
    font-weight: 700;
    font-size: .85rem;
    text-align: right;
}

.value {
    font-weight: 1rem;
    text-align: left;
}


.weather h2 {
    margin-bottom: 20px;
}

#weatherIcon {
    display: grid;
    margin: 0 auto;
    fill: black;
    width: 150px;
    height: auto;
}

.data,
.weather {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    align-items: center;
}

/* Desktop Styles */
@media (min-width: 750px) {
    h1 {
        font-size: 3rem;
    }

    main {
        position: relative;
    }

    .card {
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0 2rem #000;
        opacity: .8;

    }

    .weather-container {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        border-radius: 10px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .weather {

        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .data-container {
        position: absolute;
        top: 4rem;
        left: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 300px;

    }

    .data {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    #weatherIcon {
        display: none;
    }

    .weather-container h2::after {
        content: "⛅";
    }
}


@media (max-width: 750px) {

    .data,
    .weather {
        grid-template-columns: 1fr 1fr;
    }

    #weatherIcon {
        width: 100px;
    }

}